body{
    background-color: rgb(218, 218, 218);
    margin: 0px 0px;
    animation: fadeIn 1.2s;
}
/*NAV BAR*/
#top-bar{
    display: flex;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 50px;
}
#logo-side{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    letter-spacing: .1rem;
    width: 30%;
    height: 100%;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
#nav-side{
    display: flex;
    width: 70%;
    height: 100%;
    text-decoration: none;
}
#nav-bar{
    display: flex;
    width: 100%;
}
#nav-list{
    display:flex;
    width: 100%;
    justify-content: space-around;
    color:whitesmoke;
    list-style: none;
}
.nav-item{
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    font-size: 17px;
}
/* END OF NAV*/

/* DESIGN DISPLAY*/
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
#profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#me{
    display: block;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px gray;
}
#design-box{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-around;
    margin-bottom: 100px;
}
.box-link{
    text-decoration: none;
    color: black;
}
.display-card{
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 197, 197);
    height: 300px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px black;
}
.card-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.card-pic{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
}
.card-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
/* END OF DISPLAY*/
#footy{
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;
}
#footy-soc{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.social{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
}
.social:hover{
    box-shadow: 0px 2px 3px hotpink;
    transition-duration: .2s;
}
#github{
    background: none;
}
@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}
@media screen and (max-width: 630px){
    #logo-side{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    #nav-side{
        width: 0%;
    }
    .nav-item{
        display: none;
    }
}

@media screen and (max-width: 560px) {
    #profile{
        height: 250px;
        margin-top: 20px;
    }
    #me{
        height: 250px;
        width: 250px;
    }
  }
